* {
    box-sizing: border-box;
}

body {
    background: url(media/background.jpg);
    background-size: cover;
    height: 100vh;  /* viewport height */
    margin: 0;
}

header {
    width: 60%;
    height: 7vh;
    margin: auto;  /* auto centers */
    background-color: #fcda7c;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    margin-left: auto;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  /* not sure exactly how this works */
}

.navlink {
    margin-left: 5%;
}

main {
    width: 60%;
    min-height: 93vh;
    margin: auto;
    background-color: white;
    padding: 2% 5%;
}

#main_index {
    display: flex;
    flex-direction: row;
}

#main_music {
    display: flex;
    flex-direction: column;
}

main * {
    display: inline-block;  /* needed because default positioning of elements is different/not top */
    /*vertical-align: top;*/
    margin: 2%;
}


#headshot {
    width: 240%;
    margin-right: 10%;
}

#headshot img {
    width: 100%;
    margin: auto;
}

#name {
    position: relative;
    left: 5%;
}

iframe {
    flex-shrink: 0;
}
